// colores
$primary: #f2a900;
$secondary: #231f1f;
$tertiary: #f0e2b6;
// Color principal: #3eb1c2 (tu color proporcionado)
// Color de fondo: #f3f8f7 (un gris claro suave para un fondo neutro)
// Color de acento: #ffd700 (un amarillo brillante para resaltar botones o elementos interactivos)
// Color de texto: #333333 (un color oscuro y neutral para el texto)
// Color de borde: #b2d8d3 (un tono suave de verde-azul para bordes sutiles),
// fuente
$font-montserrat: 'Montserrat';
$font-gotham: 'Gotham';
// breakpoints
$xs: 0;
$sm: 600px;
$md: 960px;
$lg: 1280px;
$xl: 1920px;

// font-size
$fs-6xl: 2.566rem;
$fs-5xl: 2.281rem;
$fs-4xl: 2.027rem;
$fs-3xl: 1.802rem;
$fs-2xl: 1.602rem;
$fs-xl: 1.424rem;
$fs-lg: 1.266rem;
$fs-md: 1.125rem;
$fs-base: 1rem;
$fs-sm: 0.889rem;
$fs-xs: 0.79rem;
$fs-caption: 0.702rem;
